// SPDX-License-Identifier: AGPL-3.0-or-later
// SPDX-FileCopyrightText: 2024 Harald Sitter <sitter@kde.org>

.beehive{
    position: relative;
    overflow: hidden;

    display: inline-flex;
    flex-wrap: wrap;
}

.honeycomb {
    position: relative;
    height: 74px;
    width: 64px;
    margin: 1px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: black; // when no status is available (e.g. the project has no pipelines)
    &.indented-row {
        left: 33px; // half width+margin indented
    }
    &.scoot-up-row {
        margin-top: -16px; // I do not know what I am doing!
    }
    &.SUCCESS {
        background: limegreen;
    }
    &.FAILED {
        background: red;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

