{{/*
  SPDX-License-Identifier: AGPL-3.0-or-later
  SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
  SPDX-FileCopyrightText: 2024 Harald Sitter <sitter@kde.org>
*/}}

{{ define "main" }}
  <main>

  {{ $js := resources.Get "js/beehive.js" | minify | fingerprint }}
  <script type="text/javascript" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer=""></script>

  <div class="beehive">
    {{ range .Params.nodes }}
      {{ partial "honeycomb.html" (dict "info" .latestPipeline "basename" .basename ) }}
      </p>
    {{ end }}
  </div>

  </main>
{{ end }}

