{{/*
  SPDX-License-Identifier: AGPL-3.0-or-later
  SPDX-FileCopyrightText: 2024 Harald Sitter <sitter@kde.org>
*/}}

{{ define "main" }}
  <main>
    <article>
      <header>
        <h1>{{ .Title }}</h1>
      </header>
      {{ .Content }}
    </article>
    <ul>
      {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Params.groupName }} | {{ .Params.ref }}</a>
        </li>
      {{ end }}
    </ul>
  </main>
{{ end }}

