{{/*
  SPDX-License-Identifier: AGPL-3.0-or-later
  SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
  SPDX-FileCopyrightText: 2024 Harald Sitter <sitter@kde.org>
*/}}

{{ define "main" }}
<main class="container" role="main">
  <h1>{{ .Params.groupName }} <span class="h4">{{ .Params.ref }}</span></h1>

  <div class="row">
    <div class="col-md-5">
      <label for="txtFilter" class="visually-hidden">Search</label>
      <input role="search" type="search" class="form-control" id="txtFilter" placeholder="Search...">
    </div>
    <div class="col-md-2 ms-auto">
      <label for="catFilter" class="visually-hidden">Status</label>
      <select id="catFilter" class="form-select form-control">
        <option value="all">All status</option>
        <option value="SUCCESS">Success</option>
        <option value="FAILED" selected>Failed</option>
      </select>
    </div>
  </div>

  {{ range .Params.nodes }}
    {{ partial "status.html" (dict "info" .latestPipeline "name" .name ) }}
    </p>
  {{ end }}

{{ $js := resources.Get "js/filtering.js" }}
{{ if .Site.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js = $js | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer=""></script>
{{ end }}

</main>
{{ end }}
