{{/*
  SPDX-License-Identifier: AGPL-3.0-or-later
  SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
*/}}

{{ define "main" }}
<main class="container" role="main">
  <h1>{{ .Params.groupName }} <span class="h4">{{ .Params.ref }}</span></h1>

  <div class="row">
    <div class="col-md-5">
      <label for="txtFilter" class="visually-hidden">Search</label>
      <input role="search" type="search" class="form-control" id="txtFilter" placeholder="Search...">
    </div>
    <div class="col-md-2 ms-auto">
      <label for="catFilter" class="visually-hidden">Status</label>
      <select id="catFilter" class="form-select form-control">
        <option value="all" selected>All status</option>
        <option value="Linux/Qt5,Linux/Qt6">Linux</option>
        <option value="Windows/Qt5,Windows/Qt6">Windows</option>
        <option value="FreeBSD/Qt5,FreeBSD/Qt6">FreeBSD</option>
        <option value="Android/Qt5,Android/Qt6">Android</option>
      </select>
    </div>
  </div>

  {{ range (index .Site.Data "tests") }}
    <h2 class="product" data-categories="{{ delimit .missing_test_platforms "," }}">
      <span class="description">{{ .name }}</span>
      <span class="h5">
        {{ delimit .missing_test_platforms ", " " and " }}
      </span>
    </h2>
  {{ end }}

{{ $js := resources.Get "js/filtering.js" }}
{{ if .Site.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js = $js | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer=""></script>
{{ end }}

</main>
{{ end }}
