{{/*
  SPDX-License-Identifier: AGPL-3.0-or-later
  SPDX-FileCopyrightText: 2024 Harald Sitter <sitter@kde.org>
*/}}

<div class="honeycomb {{ .info.status }}">
  <a class="content-{{ .info.status }}" href="https://invent.kde.org{{ .info.detailedStatus.detailsPath }}">
    <span>{{ .basename }}</span>
  </a>
</div>
