{{/*
  SPDX-License-Identifier: AGPL-3.0-or-later
  SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
*/}}

<div class="product" data-categories="{{ .info.status }}">
  <h2 class="h4 description">{{ .name }}</h2>
  <details {{ if ne .info.status "SUCCESS" }}open{{ end }}>
    <summary>{{ .info.status }}</summary>
    <ul>
      {{ range .info.jobs.nodes }}
        <li>
          {{ if eq .status "SUCCESS" }}
            🟢
          {{ else }}
            🔴
          {{ end }}
          <a href="https://invent.kde.org{{ .detailedStatus.detailsPath }}">{{ .name }}</a>
        </li>
      {{ end }}
    </ul>
  </details>
</div>
